footer
    background-size cover
    background-color rgba(255, 255, 255, .3)
    padding-top 10px

    .footer-box
        display flex
        flex-direction row
        margin-top 20px
        
        &-text
            width 40%
            margin-left 20px
            text-align justify

            i
                cursor pointer
                font-size 20px
                text-align center
                line-height 50px
                background-color white
                margin 10px
                width 50px
                height 50px
                border-radius 30px
                transition 0.4s ease

                &:hover
                    background-color lightblue
        
        &-list
            display flex
            flex-direction column
            list-style-type none
            padding 0
            margin-left 20px
            cursor pointer

            li:hover
                color rgb(255, 102, 102)
        
        &-contacts
            margin 0 10px
            margin-left 20px
            padding-left 10px
            line-height 30px

        &-subscribe
            background-color rgba(255, 255, 255, 0.3)

            p
                margin-top 10px
                font-size 20px

            input
                border 1px solid black
                border-radius 20px
                height 40px
                padding 10px
                margin 10px 10px 30px
                background-color rgba(255, 255, 255, 0.6)
                outline 0

        +below(985px)
            flex-direction column
            align-items center
            .footer-box
                &-text
                    width 100%
                    i
                        margin 20px

                &-list
                    flex-direction row
                    align-items stretch

                    li
                        margin auto
                        flex-grow 1