.scroll-up
    position fixed
    bottom 50px
    right 100px
    padding 10px 20px
    background-color rgba(255, 102, 102, .5)
    font-size 20px
    font-weight 1000
    text-align center
    cursor pointer
    opacity 1
    transition 1s ease opacity
    z-index 30

    +below($mobile-width)
        bottom 20px
        right 10px