#myCarousel
    .img-background
        position absolute
        z-index 2
        background-color rgba(0, 0, 0, .4)
        height 100%
        top 0
        width 100%

    .carousel-caption
        z-index 3


    .slider-img
        min-width 100%
        min-height 100%

        &-container
            position relative
            height 100vh
            width 100vw
            z-index 1
            overflow hidden


    .carousel-control
        z-index 4