#myCarousel
    img
        position relative
        margin auto
        width 60%
        height 400px
        z-index 1
    
    .img-background
        position absolute
        z-index 2
        background-color rgba(0, 0, 0, .4)
        height 100%
        top 0
        width 100%

    .carousel-caption
        z-index 3

+below(750px)
    #myCarousel img
        height 200px